additional_cidrs              = ""
app_layers                    = 2
aws_region                    = "us-east-1"
az_count                      = 2
dynamodb_vpc_endpoint_enabled = true
ec2_vpc_endpoint_enabled      = true
environment                   = "sandbox"
layer_names = [
  "app",
  "database"
]
nat_gateway_count                = 1
project_name                     = "my-project"
s3_vpc_endpoint_enabled          = true
ssm_vpc_endpoint_enabled         = false
ssmmessages_vpc_endpoint_enabled = false
subnet_mask_bits                 = 8
tags = {
  "owner": "Frankin Garcia"
}
transit_gateway_id  = "tgw-1234567890abcdef1"
use_nat_gateway     = true
use_transit_gateway = false
vpc_cidr_block      = "10.0.0.0/16"
